<div class="signers">
    <h1>who else signed my petition?</h1>
    <div class="container">
        <div>
            {{#rows}}
                <h2>
                    {{#if url}}
                        <a href="{{url}}">{{first_name}} {{last_name}}</a>
                    {{else}}
                        <span>{{first_name}} {{last_name}}</span>
                    {{/if}}

                    {{#if age}}
                       <span> | {{age}} |</span>                 
                    {{/if}}

                    {{#if city}}
                          <a href="signeslist/{{city}}"> {{city}}</a>                   
                    {{/if}}
                </h2>
            {{/rows}} 
        </div>
    </div>
</div>