<div class="container">
    <h1>Signers List</h1>
    <div>
        <div>
            {{#rows}}
                <h2>
                    {{#if url}}
                       <a href="{{url}}" target="_blank">{{first_name}} {{last_name}}</a>
                    {{else}}
                        <span>{{first_name}} {{last_name}}</span>
                    {{/if}}

                    {{#if age}}
                       
                       <span> | Age: {{age}} |</span>                 
                       
                    {{/if}}

                    {{#if city}}
                          <a href="signslist/{{city}}"> City: {{city}}</a>                   
                    {{/if}}
                </h2>
            {{/rows}} 
        </div>
    </div>
</div>